<div id="divThongTinChungHopDongNguoi" class="card h-100 shadow d-none">
    <div class="card-header d-flex flex-nowrap gap-3 pe-3" id="tblDachSachHopDongSDBS">
    </div>
    <div class="card-body d-flex flex-column gap-2 overflow-auto pt-3">
        <div id="healthInfoContract">
        </div>
        <div class="flex-fill table-responsive" style="min-height:185px;">
            <table class="table table-bordered text-nowrap mb-0">
                <thead class="thead-dark bg-primary text-white sticky-top" style="top:0.5px;">
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>SỐ CMND</th>
                        <th>SỐ GCN</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                <tbody id="dsGCN_body" style="cursor: pointer;">
                </tbody>
                <tfoot class="bg-light fw-bold outline">
                    <tr>
                        <td colspan="10" class="control">
                            <div class="d-flex">
                                <span class="me-2 text-nowrap d-none d-md-block my-auto"><span id="tong_so_dongGCN"></span> kết quả | <span id="tong_so_trangGCN"></span> trang</span>
                                <button class="btn btn-secondary btn-sm mx-2" id="prevGCN"><i class="fas fa-arrow-left"></i></button>
                                <select id="selectPhanTrangGCN"></select>
                                <button class="btn btn-secondary btn-sm mx-2" id="nextGCN"><i class="fas fa-arrow-right"></i></button>
                                <div class="form-outline ms-2" style="min-width:200px;"><input id="filterGCN" type="text" autocomplete="off" class="form-control form-control-sm" placeholder="Tìm kiếm GCN" /></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>