<div id="divThongTinChungHoSogNguoi" class="card h-100 shadow d-none">
    <div class="card-header d-flex flex-nowrap gap-3 pe-3">
    </div>
    <div class="card-body d-flex flex-column gap-2 overflow-auto pt-3">
        
    </div>
</div>