<!-- Modal -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="modal top fade" id="modalXemThongTinHoSo" tabindex="-1" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false" data-mdb-modal-non-invasive="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header p-0 pe-md-3">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 mt-1 text-primary disabled">
                            Số hồ sơ:&nbsp;<span id="modalXemThongTinHoSoTitleSoHoSo"></span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 mt-1 active defaultFisrtTab"
                           id="tab-1"
                           data-mdb-toggle="tab"
                           href="#HealthCompensationContent1"
                           role="tab"
                           aria-controls="tabs-1"
                           aria-selected="true">
                            <i class="fa-regular fa-pen-to-square me-3"></i>Thông tin hồ sơ
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link py-3 mt-1"
                           id="tab-2"
                           data-mdb-toggle="tab"
                           href="#HealthCompensationContent2"
                           role="tab"
                           aria-controls="tabs-2"
                           aria-selected="false">
                            <i class="fas fa-camera-retro me-3"></i>Tài liệu hình ảnh
                        </a>
                    </li>
                </ul>
                <button type="button" class="btn-close d-none d-md-block" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="tab-content h-100" id="HealthCompensationContent">
                    <div class="tab-pane fade h-100 show active"
                         id="HealthCompensationContent1"
                         role="tabpanel"
                         aria-labelledby="tab-1">
                        <div class="container-fluid h-100 px-0">
                            <partial name="_HealthCompensationContentTab1" />
                        </div>
                    </div>
                    <div class="tab-pane fade h-100"
                         id="HealthCompensationContent2"
                         role="tabpanel"
                         aria-labelledby="tab-2">
                        <div class="container-fluid h-100 px-0">
                            <partial name="_HealthCompensationContentTab2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                    <i class="fa-solid fa-rectangle-xmark me-1"></i> Đóng
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalDanhMuc" tabindex="-1" aria-hidden="true" data-mdb-backdrop="false" data-mdb-keyboard="false" data-mdb-modal-non-invasive="true">
    <div class="modal-dialog modal-sm modal-side modal-bottom-left" style="width:240px;">
        <div class="modal-content overflow-hidden shadow-3-strong">
            <div class="modal-header border-bottom-0 py-2 bg-primary text-white">
                <h5 class="modal-title">Danh mục</h5>
                <a class="link-light float-right"
                    data-mdb-toggle="collapse"
                    href="#modalDanhMuc_body"
                    role="button"
                    aria-expanded="false"><i class="fas fa-expand-alt"></i></a>
                <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0 collapse show" id="modalDanhMuc_body">
                <div class="container-fluid py-2 overflow-auto" style="height:335px;">
                    <div class="list-group list-group-light" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active px-3 border-0 mb-2 defaultFisrtTab"
                           data-mdb-toggle="list" href="#tabThongTinChung" role="tab" aria-controls="list-home" onclick="onClickTitleTabMenu('Thông tin chung')">Thông tin chung</a>
                        <a class="list-group-item list-group-item-action px-3 border-0 mb-2"
                           data-mdb-toggle="list" href="#tabThongTinGCN" role="tab" aria-controls="list-profile" onclick="onClickTitleTabMenu('Thông tin giấy chứng nhận')">Thông tin giấy chứng nhận</a>
                        <a class="list-group-item list-group-item-action px-3 border-0 mb-2"
                           data-mdb-toggle="list" href="#tabThongTinHoSoGiayTo" role="tab" aria-controls="list-messages" onclick="onClickTitleTabMenu('Thông tin hồ sơ giấy tờ')">Thông tin hồ sơ giấy tờ</a>
                        <a class="list-group-item list-group-item-action px-3 border-0 mb-2"
                           data-mdb-toggle="list" href="#tabThongTinYCBH" role="tab" aria-controls="list-settings" onclick="onClickTitleTabMenu('Thông tin yêu cầu bảo hiểm')">Thông tin yêu cầu bảo hiểm</a>
                        <a class="list-group-item list-group-item-action px-3 border-0 mb-2"
                           data-mdb-toggle="list" href="#tabThongTinLichSuTonThat" role="tab" aria-controls="list-settings" onclick="onClickTitleTabMenu('Thông tin lịch sử tổn thất')">Thông tin lịch sử tổn thất</a>
                        <a class="list-group-item list-group-item-action px-3 border-0 mb-2"
                           data-mdb-toggle="list" href="#tabQuaTrinhXuLy" role="tab" aria-controls="list-settings" onclick="onClickTitleTabMenu('Thông tin quá trình xử lý')">Thông tin quá trình xử lý</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>