@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin";
}
<input type="hidden" name="escs_domain" value="@ViewBag.domain" />
<div class="h-100" style="background-color: #eef5f9">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong">
                    <div class="card-body text-center">
                        <h1 class="fw-bold  text-danger"><i class='fas fa-exclamation-triangle'></i>&nbsp;Lỗi!</h1>
                        <p>Không tìm thấy trang</p>
                        <a class="" href="javascript:history.back();"><i class="fas fa-arrow-left"></i>&nbsp;Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


